@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.dropdown {
    width: 100%;

    border: 1px solid $DS_75;
    border-radius: 5px 5px 0 0;  
    
    &__text {

    }

    .rotate {
        transform: rotate(-180deg);
    }

    &__arrow {
        width: 44px;
        height: 44px;

        background: url(../../assets/img/icons/dropdown_arrow.svg) center no-repeat;

        transform: rotate(0deg);
        transition: transform 0.2s ease;
    }

    &__select {
        padding-left: 15px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        border-bottom: 1px solid $DS_75;
    }

    &__menu {
        @include h3_txt();

        padding: 4px 7px 7px 15px;

        li {
            width: 100%;

            padding: 4px 0;

            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;

        padding: 20px 0 7px 0;

        .dropdown__acceptBtn {
            
            @include h3_txt();
            color: $purple;

            &:hover {
                color: $DS_50;
            }

            &:active {
                color: $DS;
            }
        }

        .dropdown__resetBtn {
            
            @include h3_txt();
            color: $purple;

            &:hover {
                color: $DS_50;
            }

            &:active {
                color: $DS;
            }
        }
    }
}