@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.dropdown {
    max-width: 320px;
    width: 100%;

    border: 1px solid $DS_25;
    border-radius: 5px;  

    position: relative;
    
    &.active {
        .dropdown__menu {
            max-height: 100vh;
            
            padding: 4px 7px 7px 15px;
            transition: max-height 0.2s ease-out;

            overflow: visible;

            border: 1px solid $DS_50;
        }
    }

    &.active,
    &:hover {
        border-color: $DS_50;

        .dropdown__text {
            color: $DS_75;
        }
    }

    &__text {
        @include body_txt();

        color: $DS_50;

        letter-spacing: 0.5px;
        line-height: 18px;

        text-wrap: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        max-width: 200px;
        width: 100%;
    }

    .rotate {
        transform: rotate(-180deg);
    }

    &__arrow {
        width: 44px;
        height: 44px;

        background: url(../../assets/img/icons/dropdown_arrow.svg) center no-repeat;

        transform: rotate(0deg);
        transition: transform 0.2s ease;
    }

    &__select {
        padding-left: 15px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        cursor: pointer;

        user-select: none;

        height: 44px;
    }

    &__menu {
        @include h3_txt();

        position: absolute;

        overflow: hidden;

        transition: max-height 0.5s ease-out;
        transition: padding 0.1s ease-out;
        
        padding: 0;
        background-color: #fff;

        top: 50px;
        left: -1.5px;

        width: 101%;
        max-height: 0;
        border-radius: 5px;

        z-index: 1000;

        li {
            width: 100%;
            padding: 4px 0;

            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;

        padding: 20px 0 7px 0;

        cursor: pointer;

        .dropdown__acceptBtn {
            
            @include h3_txt();
            color: $purple;

            &:hover {
                color: $DS_50;
            }

            &:active {
                color: $DS;
            }
        }

        .dropdown__resetBtn {
            
            @include h3_txt();
            color: $purple;

            &:hover {
                color: $DS_50;
            }

            &:active {
                color: $DS;
            }
        }
    }
}