@import '../../styles/vars.scss';

.dropdown {
    width: 222px;

    border: 1px solid $DS_75;
    border-radius: 5px 5px 0 0;    

    &__select {
        padding: 13px 44px 13px 15px;

        position: relative;

        &::after {
            content: '';

            width: 44px;
            height: 44px;

            background: url(../../assets/img/icons/dropdown_arrow.svg) center no-repeat;
            position: absolute;

            right: 0;
            top: 0;

            cursor: pointer;
        }
    }

    &__menu {
        li {
            display: flex;
            justify-content: space-between;
        }
    }
}