@import '../../styles/mixins.scss';
@import '../../styles/vars.scss';

.pagination__list {
    max-width: 240px;
    width: 100%;
    padding-right: 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    li {
        cursor: pointer;
        user-select: none;
        
        display: flex;
        justify-content: center;
        align-items: center;

        width: 40px;
        height: 40px;
    }

    .active {
        border-radius: 50%;
        color: #fff;
        background-image: linear-gradient(#BC9CFF, #8BA4F9);
    }

    position: relative;

    &::after {
        content: '';

        cursor: pointer;

        background: url(../../assets/img/icons/arrow_white.svg) center no-repeat,
                    linear-gradient(#6FCF97, #66D2EA);

        display: inline-block;

        position: absolute;
        right: 0;
        top: 0;

        width: 40px;
        height: 40px;

        border-radius: 50%;
    }
}