@import '../../styles/mixins.scss';
@import '../../styles/vars.scss';

.pagination {
    display: flex;
    flex-direction: column;
    align-content: center;

    width: fit-content;

    &__list {
        display: flex;
        justify-content: center;
    }

    &__centerNums {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    li {
        @include body_txt();
        color: $DS_50;

        width: 40px;
        height: 40px;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 50%;

        cursor: pointer;
        user-select: none;

        &.active {
            background: linear-gradient(#BC9CFF, #8BA4F9);
            color: #fff;
        }
    }

    &__dotsbefore,
    &__dotsafter,
    &__pagenum {
        &.active {
            background: linear-gradient(#BC9CFF, #8BA4F9);
            color: #fff;
        }
    }

    &__next,
    &__prev {
        width: 40px;
        height: 40px;

        border-radius: 50%;

        background: url(../../assets/img/icons/arrow_white.svg) center no-repeat,
                    linear-gradient(#6FCF97,#66D2EA);
        
        &:hover {
            box-shadow: 0 0 5px #6FCF97;    
        }
    }

    &__textbottom {
        @include body_txt();
        text-align: center;
        margin-top: 10px;
    }
}

.pagination__prev {
    transform: rotateY(180deg);
}