@import '../../styles/mixins.scss';
@import '../../styles/vars.scss';

.radio {
    max-width: 222px;
    
    &__input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    &__label {
        display: inline-flex;
        align-items: top;
        user-select: none;

        @include body_txt();

        max-width: 192px;

        padding-left: 30px;

        position: relative;

        &::before {
            content: '';

            position: absolute;

            top: 0;
            left: 0;

            display: inline-block;
            width: 20px;
            height: 20px;

            flex-shrink: 0;
            flex-grow: 0;
        
            border: 1px solid $DS_25;

            border-radius: 50%;
        }

        &::after {
            content: '';

            position: absolute;

            top: 4px;
            left: 4.25px;

            height: 12px;
            width: 12px;    

            flex-shrink: 0;
            flex-grow: 0;

            border-radius: 50%;
            
            background-color: $purple;

            opacity: 0;
        }
    }
}

.radio__input:checked+label.radio__label::after {
    opacity: 1;
}

/* стили при наведении курсора на radio */
.radio__input:not(:disabled):not(:checked)+.radio__label:hover::before {
    border-color: $purple;
}

/* стили для чекбокса, находящегося в состоянии disabled */
.radio__input:disabled+.radio__label::before {
    background-color: #e9ecef;
}