body {
    width: 100%;
    background-color: #FFF;

}

#app, 
.headfoot {
    height: 100%;
}

.footer {
    margin-top: 100px;
}

.headfoot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}