.rooms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .rooms__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
    }

    .rooms__title {
        align-self: flex-start;
    }

    .pagination {
        align-self: center;
    }
}

.hostels {
    .container {

    }

    &__rows {
        display: flex;
        justify-content: space-between;
    }

    &__columns {
        &:first-child {
            width: 320px;
        }
    }
}