@import './normalize.scss';
@import './vars.scss';
@import './fonts.scss';

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1240px;
    width: 100%;
}

.uikit {
    &::after {
        content: '';

        position: absolute;

        top: 30px;
        left: 30px;

        width: 48px;
        height: 48px;

        background: center center no-repeat url('../assets/img/smallerlogo.svg');
    }
}