@import './normalize.scss';
@import './vars.scss';
@import './fonts.scss';

body {
    font-family: 'Montserrat', sans-serif;
}

.uikit {
    &::after {
        content: '';

        position: absolute;

        top: 30px;
        left: 30px;

        width: 48px;
        height: 48px;

        background: center center no-repeat url('../assets/img/smallerlogo.svg');
    }
}