@import './normalize.scss';
@import './vars.scss';
@import './fonts.scss';

html,
body {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: unset;
    -webkit-text-decoration-skip: objects;
    text-shadow: unset;
  }
  a:hover {
    color: $DS_50;
  }
  a:active { 
    color: $DS_50;
 }
  a:active,
  a:hover {
    text-decoration: none;
    outline: 0;
  }
  a:focus {
    text-decoration: none;
    outline: 0;
  }
  a[disabled] {
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1240px;
    width: 100%;
}

.uikit {
    &::after {
        content: '';

        position: absolute;

        top: 30px;
        left: 30px;

        width: 48px;
        height: 48px;

        background: center center no-repeat url('../assets/img/smallerlogo.svg');
    }
}