@import '../../styles/vars.scss';

.rate {
    width: fit-content;
    height: 25px;

    &__input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    &__label {
        width: 25px;
        height: 25px;

        display: inline-block;

        background: url(../../assets/img/icons/star_passive.svg) center no-repeat;

        &.active {
            background: url(../../assets/img/icons/star_active.svg) center no-repeat;
        }

        &:hover {
            background: url(../../assets/img/icons/star_active.svg) center no-repeat;
        }

        &:hover ~ .rate__label {
            background: url(../../assets/img/icons/star_passive.svg) center no-repeat;
        }
    }
}
       