@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.checkboxList {
    max-width: 266px;
    width: 100%;    

    &__select {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        height: 44px;

        @include h3_txt();

        &.active {
            .checkboxList__button {
                transform: rotate(180deg);
            }
        }
    }

    &__label {
        text-align: left;
        flex-grow: 1;

        user-select: none;

        cursor: pointer;
    }

    &__button {
        width: 44px;
        height: 44px;

        display: block;
        cursor: pointer;

        background: url(../../assets/img/icons/dropdown_arrow.svg) center no-repeat;

        transform: rotate(0);
        transition: transform 0.2s ease;
    }

    &__options {
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.2s ease;
        
        &.active {
            max-height: 100vh;
        }
    }

    &__point {
        @include body_txt();
        color: $DS_75;

        li {
            padding-left: 20px;
            margin-bottom: 10px;

            position: relative;

            &::after {
                content: '';

                border: 5px solid $DS_25;
                border-radius: 50%;

                position: absolute;
                left: 0;
                top: 6px;
            }
        }
    } 
}