@import '../../../styles/mixins.scss';
@import '../../../styles/vars.scss';

html {
    width: 100%;
    height: 100% !important;
}

.formElements {
    display: flex;
    flex-direction: column;
    gap: 70px 30px;

    width: 100%;
    height: 100%;

    margin: 100px 0;
}

.formelements__row {
    display: flex;
    justify-content: center;
    gap: 0 30px;
}

.formelements__column {
    width: 320px;
    max-width: 320px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px 0;
}

.button {
    @include button_standart();
}

.button_1 {
    @include button_short();
}

.button_2 {
    @include button_whiteBG();
}

.button_3 {
    @include button_noborder();
}