@import './../../styles/mixins.scss';
@import './../../styles/vars.scss';

.header {
    background-color: #fff;
    
    &__row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: 20px 0;
    }

    &__column {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__logo {
        min-height: 40px;
        width: 40px;
        min-width: 106px;
        width: 106px;

        margin-right: 40px;
    }

    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        font-size: 14px;

        user-select: none;

        .menu__item {
            padding-top: 10px !important;
            padding-bottom: 10px !important;

            padding: 0 15px;

            cursor: pointer;
            text-wrap: nowrap;
            color: $DS_75;

            &:hover {
                color: $purple;
            }

            &:first-child {
                font-weight: bold;
            }
        }
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;

        padding-left: 30px;
    }

    &__login {
        @include button_whiteBG();
        margin-right: 6px;
        height: 40px;
    }

    &__registration {
        @include button_short();
        margin-left: 6px;    
        height: 40px;
    }

    &__user {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;

        padding-left: 20px;
        margin-left: 25px;
        border-left: 1px solid $DS_25;

        color: $DS_75;
        cursor: pointer;

        text-wrap: nowrap;

        &:hover {
            color: $DS;
        }

        display: none;
    }

    .burger {
        display: none;
    }
}   

.submenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-right: 30px !important;
    margin-right: 15px;

    position: relative;

    &::after {
        content: '';

        width: 24px;
        height: 21px;

        position: absolute;
        top: 11px;
        right: 0;

        background: url(../../assets/img/icons/dropdown_arrow.svg) no-repeat center;
    }

    &__list {
        position: absolute;
        
        top: 40px;
        left: 15px;

        z-index: -1;

        min-width: 85%;
        width: fit-content;

        background-color: #e6e6e6d4;

        li {
            font-size: 15px;
            color: #4f5670;
            text-align: left;

            padding: 15px 30px;

            &:hover {
                color: #fff;
                background: #b0afffea;
            }
        }
    }

    &:hover {
        .submenu__list {
            z-index: 1;
        }
    }

    .burger {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    body.lock {
        overflow: hidden;
    }

    .header {
        position: fixed;

        top: 0;
        left: 0;
        right: 0;

        &__logo,
        &__buttons,
        &__user,
        .burger {
            position: relative;
            z-index: 15;
        }

        &::after {
            content: '';

            height: 80px;
            width: 100%;

            position: fixed;

            top: 0;
            left: 0;

            z-index: 10;

            background: linear-gradient(#ffffff, 80%, #ccb6fa);
        }

        background-color: aquamarine;

        &__row {
            display: grid;
            grid-template-columns: 1fr 6fr 1fr;
        }

        &__column {
            &:nth-of-type(3) {
                justify-self: end;
            }
        }

        .burger {
            justify-self: end;
            margin-left: 15px;

            &__button {
                height: 40px;
                width: 60px;

                padding: 8px;
                cursor: pointer;
                            
                background: #fff;
                border: 2px solid #BC9CFF;
                border-radius: 15px;

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                span {
                    width: 35px;
                    height: 3px;

                    background-color: $purple;
                    transition: opacity, transform 0.3s ease;
                }

                &.active {

                    position: relative;

                    span {
                        &:nth-of-type(1) {
                            transform: rotate(-45deg);
                            position: absolute;

                            top: 17px;
                            left: 11px;
                        }
                        &:nth-of-type(3) {
                            transform: rotate(45deg);

                            position: absolute;

                            bottom: 17px;
                            left: 11px;
                        }
                        &:nth-of-type(2) {
                            opacity: 0;
                        }
                    }
                }
            }

            display: inline-block;
        }

        .burgercol {
            max-height: 0vh;
            height: 0vh;

            overflow: hidden;

            position: fixed;

            top: 0;
            left: 0;

            background-color: #fff;

            &.active {

                max-height: 100%;
                height: 100%;
                max-width: 100%;
                width: 100%;

                .menu {
                    overflow: auto;
                    
                    &::-webkit-scrollbar {
                        width: 0;
                    }

                    max-height: 100%;
                    height: 100%;
                    max-width: 100%;
                    width: 100%;

                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;

                    flex-direction: column;

                    margin: 100px 15px 0 15px;
                    padding-bottom: 150px;

                    &__item {
                        font-size: 20px;

                        font-weight: 400;

                        max-width: 100%;
                        width: 100%;

                        border-bottom: 1px solid #e6e6e6;
                    }
                }
            }

            .submenu {
                max-width: 100%;
                width: 100%;

                &__list {
                    position: static;
                    max-height: 0vh;
                    height: 0;
                    
                    overflow: hidden;

                    max-width: 100%;
                    width: 100%;

                    background-color: transparent;
                }

                &.active {
                    .submenu__list {
                        max-height: 100vh;
                        height: 100%;
                    }
                }

                .submenu__item {
                    background-color: transparent;

                    max-width: 100%;
                    width: 100%;

                    position: relative;

                    &:hover {
                        color: $DS;

                        &::before {
                            content: '';

                            position: absolute;

                            top: 22px;
                            left: 5px;
                            
                            height: 8px;
                            width: 8px;

                            background-color: $purple;
                        }
                    }
                }
            }
        }
    }
}

