@import './../../styles/mixins.scss';
@import './../../styles/vars.scss';

.bookroom {
    padding: 38px 30px;
    background-color: #fff;
    
    box-shadow: 0 0 10px $DS_25;

    width: 380px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .toxin-range-picker {
        position: relative;
        margin: 20px 0 0 0;

        &::before {
            content: 'Даты пребывания в отеле';
            font-family: 'Montserrat', "Helvetica", sans-serif;

            position: absolute;

            @include h3_txt();

            top: -19px;
            left: 0;
        }
    }

    &__fullprice {
        @include h1_txt();

        display: flex;
        justify-content: space-between;
        align-items: baseline;

        span {
            border-bottom: 1px dashed $DS_50;
            width: 100%;
        }
    }
    
    &__row {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__column {
        &:last-child {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            align-items: center;

            margin-top: 18px;
        }

        &:nth-child(2) {
            margin: 15px 0;
        }
    }

    &__btn {
        display: block;

        @include h3_txt();
    
        background-image: linear-gradient(#BC9CFF, #8BA4F9);
        padding: 14px 20px;
        width: 320px;
        line-height: normal;
        border-radius: 25px;
        color: #fff;
        position: relative;

        &:hover {
            box-shadow: 0px 0px 10px 0px $purple;
        }

        &::after {
            content: '';
            width: 40px;
            height: 40px;
            
            position: absolute;
            right: 12px;
            top: 3px;
    
            background: url(../../assets/img/icons/arrow_white.svg) right center no-repeat;
        }
    }
    
    .dropdown {
        position: relative;
        margin: 20px 0 0 0;

        &::before {
            content: 'Гости';
            font-family: 'Montserrat', "Helvetica", sans-serif;

            position: absolute;

            @include h3_txt();

            top: -20px;
            left: 0;
        }
    }

    .info {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        &__number {        
            .num,
            .luxe {
                @include h3_txt();
            }

            .numeric {
                font-size: 24px;
                font-weight: bold;
            }

            .luxe {
                color: $purple;
            }
        }



        &__price {
            color: $DS_50;
            font-size: 12px;

            .numeric {
                font-weight: bold;
                font-size: 14px;
            }
        }
    }

    .pay {
        display: flex;
        justify-content: space-between;

        @include body_txt();

        margin: 10px 0;

        &:first-child {
            margin-top: 25px;
        }
        
        &:last-of-type {
            margin-bottom: 25px;
        }
    }
}