@import './../../styles/mixins.scss';
@import './../../styles/vars.scss';

.footer {
    border-top: 1px solid $DS_25;
    &__widgetes {
        display: grid;
        grid-template-columns: 1fr 0.7fr 0.7fr 0.7fr 1fr;
        padding: 90px 0;
    }

    &__horizontal {
        width: 100%;
        height: 1px;

        overflow: hidden;

        background-color: $DS_25;
    }
}

.widget {
    margin: 0 15px;

    a:hover {
        text-decoration: underline;
    }

    &:first-child,
    &:last-child {
        max-width: 260px;
    }

    &:first-child {
        margin: 0 15px 0 0;
    }
    
    &:last-child {
        margin: 0 0 0 15px;
    }

    &__text,
    &__option a {
        @include body_txt();
    }

    &__text {
        padding: 16px 0 20px 0;
    }

    &__list {
    
    }

    &__option {
        &:first-child {
            @include h3_txt(); 
            padding: 0 0 7px 0;

            text-wrap: nowrap;
        }

        a {
            padding: 7px 0;

            width: 100%;

            color: $DS_50;
        }
    }

    &__title {
        @include h3_txt();
    }

    &__input {

    }
}

.copybar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 25px 0;

    &__text {
        @include body_txt();
    }

    &__socials {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .copybar__icon {
            cursor: pointer;
            margin: 0 12px;

            height: 24px;
            width: 24px;

            &:first-child {
                background: url(../../assets/img/icons/twitter.svg) center no-repeat;
            }

            &:nth-child(2) {
                background: url(../../assets/img/icons/facebook.svg) center no-repeat;
            }

            &:last-child {
                background: url(../../assets/img/icons/inst.svg) center no-repeat;
                margin: 0 0 0 12px;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .footer {
        
        &__widgetes {
            grid-template-areas:    "first second third"  
                                    "fourth fifth five";

            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: 1fr 0.7fr 0.7fr;

            padding: 50px 0;
            
            row-gap: 25px;

            .widget {
                &:first-child {
                    grid-area: fourth;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 35px 0;

        &__horizontal {
            display: none;
        }

        .copybar {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            padding: 0;

            &__text {
                padding: 15px 0;
                text-align: center;
            }
        }

        &__widgetes {
            display: flex;
            justify-content: center;
            align-items: center;

            padding: 0;

            .widget:not(:first-child) {
                display: none;
            }

            .widget:first-child {
                .widget__text {
                    display: none;
                }
            }
        }
    }
}

