@import '../../styles/mixins.scss';
@import '../../styles/vars.scss';

.textField__input,
.textField__subscribtion,
.textField__masked {
    @include border();

    padding: 15px 13px;

    width: 100%;
    height: 44px;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;

    color: $DS_25;

    &::placeholder {
        color: $DS_25;
    }

    &:hover,
    &:focus {
        border-color: $DS_50;
        color: $DS_75;
    }

    &:focus {
        &::placeholder {
            color: $DS_75;
        } 
    }
}

.textField__subscribtion {
    padding-right: 44px;
}

.textField__button {
    position: absolute;
    right: 1px;
    top: 1px;

    width: 42px;
    height: 42px;

    border-radius: 4px;
    cursor: pointer;

    background: url(../../assets/img/icons/arrow_forward.svg) center no-repeat #fff;
}

.textField {
    position: relative;
}


.textField__masked {
    &::placeholder {
        letter-spacing: 0.75px;
    }
    &:focus {
        &::placeholder {
            color: $DS_25;
        } 
    }
}