@import '../../styles/mixins.scss';
@import '../../styles/vars.scss';

.rangeSlider {
    max-width: 266px;
    width: 266px;
    
    display: flex;
    flex-direction: column;

    &__container {
        display: flex;
        max-width: inherit;

        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    &__title {
        @include h3_txt();
    }

    &__inputs {
        display: flex;
        max-width: inherit;

        font-size: 12px;
        line-height: normal;
        color: $DS_50;

        input {
            max-width: 40px;
            text-align: center;
        }

        span {
            margin: 0 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.rangeSlider__slider {
    height: 6px;
    background: #fff;
    border: 1px solid $DS_25;
    border-radius: 5px;
    position: relative;

    cursor: pointer;
}

.rangeSlider__slider .rangeSlider__progress {
    height: 5px;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background-image: linear-gradient(#6FCF97,#66D2EA);
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    top: -5px;
    height: 5px;
    width: 100%;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;

    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    background-image: linear-gradient(#6FCF97,#66D2EA);
    border-radius: 50%;
    border: 2px solid #fff;
    pointer-events: auto;
    -webkit-appearance: none;
}

input[type="range"]::-moz-range-thumb {
    height: 12px;
    width: 12px;
    background: #17A2B8;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-appearance: none;
}