.regpage {
    background: url(../../../assets/img/landing-page2.png) center no-repeat;
    background-size: cover;

    height: 750px;

    &__form {    
        margin: 20px 0;
        height: 100%;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 1000px) {
    .regpage {    
        padding-top: 80px;
    }
}

@media screen and (max-width: 420px) {
    .regpage {   
        .registration { 
            width: 330px;
            padding: 30px 25px;
        }
    }
}