.slider {
    overflow: hidden;
    position: relative;

    &__frames {
        display: flex;

        transition: transform 0.2s ease;

        li {
            background-size: cover !important;
        }
    }

    &__dots {
        position: absolute;

        bottom: 10px;
        right: 10px;

        display: flex;
        gap: 0 3px;

        .dot {
            background-color: transparent;
            border: 1.25px solid #fff;
            border-radius: 50%;
            
            height: 12px;
            width: 12px;

            cursor: pointer;

            &.active {
                background-color: #fff;
            }
        }
    }

    &__prev,
    &__next {
        cursor: pointer;
        
        width: 44px;
        height: 44px;

        position: absolute;
        transition: opacity 0.2s ease;

        top: 50%;
        
        border-radius: 50%;
    }

    &__prev {
        background: url(../../assets/img/icons/slider_arrow.svg) rgba(179, 179, 179, 0.75) center no-repeat;
        
        transform: translate(0, -50%);
        left: 5px;

        border: 1px solid #ffffff;
    }

    &__next {
        background: url(../../assets/img/icons/slider_arrow.svg) rgba(179, 179, 179, 0.75) center no-repeat;

        transform: translate(0, -50%) rotate(180deg);

        right: 5px;
        border: 1px solid #fff;
    }
}