@import './../../styles/mixins.scss';
@import './../../styles/vars.scss';

.registration {
    padding: 38px 30px;
    background-color: #fff;
    
    box-shadow: 0 0 10px $DS_25;

    width: 380px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    &__rows {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__column {
        &:last-child {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            align-items: center;

            margin-top: 25px;
        }
    }

    &__submit {
        margin-top: 24px;

        @include h3_txt();

        background-image: linear-gradient(#BC9CFF, #8BA4F9);
        padding: 11px 20px;
        max-width: 320px;
        width: 100%;
        min-width: 120px;
        line-height: normal;
        border-radius: 25px;
        color: #fff;
        position: relative;

        &:hover {
            box-shadow: 0px 0px 10px 0px $purple;
        }

        &::after {
            content: '';
            width: 40px;
            height: 40px;
            
            position: absolute;
            right: 12px;
            top: 0px;

            background: url(../../assets/img/icons/arrow_white.svg) right center no-repeat;
        }
    }

    &__title {
        @include h1_txt();

        margin-bottom: 12px;
    }

    &__createacclink {
        @include body_txt();
        color: $DS_75;
        font-weight: normal;

        &:hover {
            text-decoration: underline;
        }
    }

    .registration__createaccbutton {
        @include button_whiteBG();

        padding: 9px 18px;
    }

    &__radio {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 0 20px;

        margin-bottom: 18px;
        margin-top: 3px;
    }

    input {
        margin-bottom: 8px;
    }

    &__datebirth {
        padding-top: 22px;
        position: relative;

        &::before { 
            content: 'Дата рождения';

            position: absolute;

            top: 0;
            left: 0;
            
            @include h3_txt();
        }
    }

    &__entrydata {
        padding-top: 22px;
        position: relative;

        &::before { 
            content: 'Данные для входа в сервис';

            position: absolute;

            top: 0;
            left: 0;

            @include h3_txt();
        }
    }
}